---
---
<footer class="footer">
    <div class="container" style="flex-direction: column; align-items: center;">
        <p>&copy; 2026 L'Orée | Aurélie MAGONTIER. Tous droits réservés.</p>
        <div class="social-links">
            <a href="#" class="social-link">Instagram</a>
            <a href="#" class="social-link">LinkedIn</a>
            <a href="#" class="social-link">Facebook</a>
        </div>
    </div>
</footer>
