import { Image } from 'astro:assets';
import profil3 from '../assets/profil3.jpeg';
import profil2 from '../assets/profil2.jpeg';
---
<section id="presentation" class="presentation">
  <div class="container">

    <!-- Colonne gauche -->
    <div class="colonne-gauche">
      <div class="presentation-image">
       <div class="profile-picture">
            <Image src={profil3} class="profile-img-default" alt="Aurélie Magontier" />
            <Image src={profil2} class="profile-img-hover" alt="Aurélie Magontier" />
        </div>
      </div>
    </div>

    <!-- Colonne droite -->
    <div class="colonne-droite">
      <div class="presentation-content">
        <p class="bio">
          <span class="quote-mark opening">"</span>
          <a href="#accueil" class="loree-hover">L'Orée</a> est née pour accompagner celles et ceux qui créent, fabriquent et entreprennent avec le cœur.
          <br><br>
          J'y mêle communication, image et sens, avec une attention particulière pour les petites entreprises, les artisans, et toutes les personnes qui avancent souvent sans le luxe du temps ni des outils professionnels.
          <br><br>
          À <a href="#accueil" class="loree-hover">L'Orée</a>, je transforme la complexité en clarté, les idées en récits, et les doutes en chemins.
          J’aime rendre les choses simples, accessibles et profondément humaines, avec cette petite dose de bonne humeur qui allège les journées et donne envie d’avancer.
          Mon intention est que chacun puisse raconter son histoire avec justesse, douceur, authenticité… et un sourire en plus.
        <br><br>
         Parce que les petites entreprises courent après les heures, je deviens cette respiration calme, ce soutien discret et positif qui leur permet de se concentrer sur leur savoir‑faire pendant que je prends soin de leur image.
         J’apporte de la lumière, de la fluidité, et parfois même un peu d’enthousiasme là où la fatigue s’installe.
          <br><br>
          Je crée des espaces où les projets peuvent s’épanouir, où les voix trouvent leur forme, où les identités deviennent une évidence — vivantes, lumineuses, confiantes.
          <br><br>
          <a href="#accueil" class="loree-hover">L'Orée</a>, c'est un passage.
          <br><br>
          Un lieu où l’on dépose ce qui encombre, où l’on éclaire ce qui compte, et où chaque projet retrouve sa juste place — avec un souffle joyeux et une énergie qui invite à avancer.
           <br><br>
          Un appui discret, une énergie joyeuse, un pas vers l’essentiel.          <span class="quote-mark closing">"</span>        
          <span class="signature">Aurélie Magontier</span>
        </p>

        <div class="skills">
        <div class="skill-tag">Identité de marque</div>
            <div class="skill-tag">Création graphique</div>
          <div class="skill-tag">Création de site Web</div>
          <div class="skill-tag">Stratégie de communication</div>
          <div class="skill-tag">Community Management</div>
        </div>
      </div>
    </div>

  </div>
</section>
